---
downloads: ~/.ansible-downloads/

configure_dotfiles: true
configure_terminal: false
configure_osx: false

# Set to 'true' to configure the Dock via dockutil.
configure_dock: false
dockitems_remove: []
# - Launchpad
# - TV
# - Podcasts
# - 'App Store'
dockitems_persist: []
# - name: "Sublime Text"
#   path: "/Applications/Sublime Text.app/"
#   pos: 5

configure_sudoers: false
sudoers_custom_config: ''
# Example:
# sudoers_custom_config: |
#   # Allow users in admin group to use sudo with no password.
#   %admin ALL=(ALL) NOPASSWD: ALL

dotfiles_repo: https://github.com/danny-hb/minimal-dotfiles.git
dotfiles_repo_accept_hostkey: true
dotfiles_repo_local_destination: ~/dotfiles
dotfiles_repo_version: main
dotfiles_files:
  # - .zshrc
  # - .gitignore
  # - .inputrc
  - .osx
  # - .macos
  # - .vimrc
  - .aliases
  - .bash_profile
  - .bash_prompt
  - .bashrc
  - .exports
  - .functions
  - .zprofile


homebrew_installed_packages:
  # - ansible # Installed via Pip.
  # - autoconf
  # - bash-completion
  # - doxygen
  # - gettext
  # - gifsicle
  # - git
  # - go
  # - gpg
  # - httpie
  # - iperf
  # - libevent
  # - sqlite
  # - mcrypt
  # - nmap
  # - nvm
  # - php
  # - ssh-copy-id
  # - cowsay
  # - readline
  # - openssl
  # - pv
  # - wget
  # - wrk
  # - zsh-history-substring-search

  # - tmux
  - jq
  - github/gh/gh
  - pyenv
  - node
  - yarn

ansible_python_interpreter: "{{ ansible_playbook_python }}"
configure_pyenv: true
# pyenv_global: "{{ pyenv_python37_version }} system"
pyenv_init_shell: false
pyenv_python36_version: "3.6.15"
pyenv_python37_version: "3.7.13"
pyenv_python38_version: "3.8.13"
pyenv_python39_version: "3.9.13"
pyenv_python310_version: "3.10.5"
pyenv_python_versions:
  - "{{ pyenv_python36_version }}"
  - "{{ pyenv_python37_version }}"
  - "{{ pyenv_python38_version }}"
  - "{{ pyenv_python39_version }}"
  - "{{ pyenv_python310_version }}"
pyenv_global: "{{ pyenv_python38_version }} system"
pyenv_virtualenvwrapper: true
pyenv_virtualenvwrapper_home: "{{ ansible_env.HOME }}/.virtualenvs"





homebrew_taps:
  - homebrew/core
  - homebrew/cask

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  # - chromedriver
  - docker
  # - dropbox
  # - firefox
  - google-chrome
  # - handbrake
  # - licecap
  # - sequel-ace
  # - slack
  # - sublime-text
  # - transmit
  # - vagrant
  
  - google-cloud-sdk
  - iterm2
  # - ngrok
  - visual-studio-code
  # - vlc
  # - zoom
  # - postico
  - postgres-unofficial


# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps: []
mas_email: ""
mas_password: ""

# osx_script: "~/.osx --no-restart"
osx_script: "~/.macos --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
# - name: drush
#   state: present # present/absent, default: present
#   version: "^8.1" # default: N/A
gem_packages: []
# - name: bundler
#   state: present # present/absent/latest, default: present
#   version: "~> 1.15.1" # default: N/A
npm_packages: []
# - name: webpack
#   state: present # present/absent/latest, default: present
#   version: "^2.6" # default: N/A
pip_packages: []
# - name: mkdocs
#   state: present # present/absent/latest, default: present
#   version: "0.16.3" # default: N/A

# Set to 'true' to configure Sublime Text.
# configure_sublime: false
# sublime_base_path: '~/Library/Application Support/Sublime Text'
# sublime_config_path: "Packages/User"
# sublime_package_control:
#   - "DocBlockr"
#   - "Dockerfile Syntax Highlighting"
#   - "FileDiffs"
#   - "GitHub Flavored Markdown Preview"
#   - "Jinja2"
#   - "Package Control"
#   - "PHP-Twig"
#   - "Pretty JSON"
#   - "SublimeLinter"
#   - "SublimeLinter-contrib-yamllint"
#   - "TrailingSpaces"
#   - "WordCount"

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
